[submodule "03-counter-app"]
	path = 03-counter-app
	url = https://github.com/rag2310/03-counter-app.git
[submodule "02-intro-javascript"]
	path = 02-intro-javascript
	url = https://github.com/rag2310/02-intro-javascript.git
[submodule "04-gif-expert-app"]
	path = 04-gif-expert-app
	url = https://github.com/rag2310/04-gif-expert-app.git
[submodule "05-hook-app"]
	path = 05-hook-app
	url = https://github.com/rag2310/05-hook-app
